<html>
<head>
    <title>Jobmania</title>
<style>

img{
    margin: 0 auto;
    display: block;
}
body{
    background-color:white;
    background-image:url(background-cogs.png);
    font-size: 25px;

}
input{
    font-size: 25px;
}
p {
    text-align:center;
    padding-left: 100px;
    padding-right: 100px;
}
</style>
</head>
  <body>
    <img src='http://i.imgur.com/OX7lYnC.png'/>
    
    <p>Jobmania is a website that provides jobs for anybody. You can apply to any job according to your choice.We support giving anybody jobs from big to small.There is a large variety of them to choose from so that you can easily find the one that you are looking for. </p>
    <form action="/search">
        <input type="text" name="postcode" placeholder="Postcode">
        <input type="text" name="keywords" placeholder="Keywords">
        <button>Search</button>
        </form>
</body>
</html>
